<%- include('partials/header') %>

<title>Write title for each page here</title>

<!-- Here you we will include other css and js files that are not to be used for every age -->
<link rel="stylesheet" href="/public/stylesheet/cplayout1.css">
</head>
<body>

<%- include('partials/navbar') %>
    
    <main>		
	 		<h1>CONTACT US</h1>
        	<div class="left">
               
                <h2>Postal Address:</h2>
                <p>The LNM Institute of Information Technology</p>
                <p>Rupa ki Nangal, Post-Sumel, Via-Jamdoli </p><p>Jaipur-302031, (Rajasthan) INDIA</p>
             </div>
             <div class="left">
                <h2>Post Box Address:</h2>
                <p><b>Ordinary/Book-Post-</b> Post Box No. 618 Jawahar Nagar, Head Post Office, Jaipur, Pin-302 004(Rajasthan)</p><p><b>Registered/Speed Post-</b> Gram: Rupa ki Nangal, Post-Sumel, Via Jamdoli, Jaipur-302 031(Rajasthan)</p>
              </div>
             <div class="left">
				<h2>Contact Information:</h2>
                <p><b>Toll Free No:</b> 1800-180-6566</p>
                <p><b>B.Tech admission related query:</b> 0141-2688074, 0141-5191-791/792</p>
                <p><b>Email:</b> ugadmissions@lnmiit.ac.in </p>
              </div>
               <div class="left">
               	<p><b>M.Tech/Ph.D. related query:</b> 1800-180-6566 </p>
               	<p><b>Email:</b> pgadmissions@lnmiit.ac.in  </p>
               </div>
               <div class="left">
                <p><b>Administrative query: </b>0141-2688093, 0141-5191713/720 </p>
                <p><b>Tel:</b> 0141-2688090, 0141-5191851/852</p>
                <p><b>For other information, contact us at: </b>info.lnmiit@lnmiit.ac.in</p>
               </div>	
 			 <div class="right">
                <h2 class="footer">Visit us:</h2>
               <a href="https://goo.gl/maps/xvqLnf6KGHkh1B3t6" target="blank" >Google Map</a>

            </div>
</main>
</body>
    
    
<%- include('partials/footer') %>    