<%- include('partials/header') %>


	<h1>This is Home Page</h1>

	<p>If you are logged in you can visit upload page and upload your resources. Else you will be directed to login page. At the end of project we will allow only specific persons who can upload files. </p>

	<a href="/upload" class="btn btn-lg btn-primary">Let's Upload</a>


	<h2>
		From Here you can download our resources.
	</h2>
		<a href="/download" class="btn btn-lg btn-secondary">See Our resources</a>


<%- include('partials/footer') %>

