<%- include('partials/header') %>

<title>Write title for each page here</title>

<!-- Here you we will include other css and js files that are not to be used for every age -->

</head>
<body>

<%- include('partials/navbar') %>
		


		 <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="btn btn-lg btn-primary" href="/auth/google">Google+</a>
        </main>


		<section>This is used to make page to cover full page otherwise footer not be at end , As content is not placed till now. We will remove it afterwards.</section>

<%- include('partials/footer') %>





