<%- include('partials/header') %>

		


		 <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="btn btn-lg btn-primary" href="/auth/google">Google+</a>
        </main>


<%- include('partials/footer') %>




