<%- include('partials/header') %>

<title>Write title for each page here</title>

<!-- Here you we will include other css and js files that are not to be used for every age -->

</head>
<body>

<%- include('partials/navbar') %>


	<h1>Here's Are resources</h1>

	<ul>
	<li>Chapter1</li>
	<a href="/resources/Chapter1/notes" class="btn btn-lg btn-info">Notes</a>
	<a href="/resources/Chapter1/videos" class="btn btn-lg btn-warning">Videos</a>

	<li>Chapter2</li>
	<a href="/resources/Chapter2/notes" class="btn btn-lg btn-info">Notes</a>
	<a href="/resources/Chapter2/videos" class="btn btn-lg btn-warning">Videos</a>

	<li>Chapter3</li>
	<a href="/resources/Chapter3/notes" class="btn btn-lg btn-info">Notes</a>
	<a href="/resources/Chapter3/videos" class="btn btn-lg btn-warning">Videos</a>
	</ul>

	

		<section>This is used to make page to cover full page otherwise footer not be at end , As content is not placed till now. We will remove it afterwards.</section>

<%- include('partials/footer') %>

