<%- include('partials/contentHeader') %>

<title>TABLE OF CONTENTS</title>

<!-- Here you we will include other css and js files that are not to be used for every page -->

</head>


<link rel="stylesheet" href="/public/stylesheet/contents/main.css">


</head>
<body  data-spy="scroll" data-target=".scrollspy" style="font-color:red;">


<%- include('partials/navbar') %>



<div class="container">
  <div class="row">

      <div class="col-md-3 scrollspy">
        <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix" style="text-decoration:underline">
          <li><a href="#web-design">COURSE DESCRIPTION</a></li>
          <li><a href="#web-developments">COURSE OUTCOME</a></li>


          <li><a href="#web-development">COURSE CONTENT</a>



            <ul class="nav">
              <li><a href="#CH1"><span class="fa fa-angle-double-right"></span>Chapter:1</a></li>
              <li><a href="#CH2"><span class="fa fa-angle-double-right"></span>Chapter:2</a></li>
               <li><a href="#CH3"><span class="fa fa-angle-double-right"></span>Chapter:3</a></li>
                <li><a href="#CH4"><span class="fa fa-angle-double-right"></span>Chapter:4</a></li>
                 <li><a href="#CH5"><span class="fa fa-angle-double-right"></span>Chapter:5</a></li>
                  <li><a href="#CH6"><span class="fa fa-angle-double-right"></span>Chapter:6</a></li>
                   <li><a href="#CH7"><span class="fa fa-angle-double-right"></span>Chapter:7</a></li>
                    <li><a href="#CH8"><span class="fa fa-angle-double-right"></span>Chapter:8</a></li>
                     <li><a href="#CH9"><span class="fa fa-angle-double-right"></span>Chapter:9</a></li>
                      <li><a href="#CH10"><span class="fa fa-angle-double-right"></span>Chapter:10</a></li>
                       <li><a href="#CH11"><span class="fa fa-angle-double-right"></span>Chapter:11</a></li>
                        <li><a href="#CH12"><span class="fa fa-angle-double-right"></span>Chapter:12</a></li>

            </ul>
          </li>
          <li><a href="#experiments">EXPERIMENTS</a>
<li><a href="#courseg">COURSE GRADE</a></li>


        </ul>
      </div>



    <div class="col-sm-9">
      <h1 class="page-header" id="table-of-contents-plugin-for-bootstrap">Table of Contents for Classical Physics</h1>

        <section id="web-design">


<h2 id="course-description">Course Description</h2>

<p> Classical mechanics can be called the first branch of Physics upon which all other branches of Physics have been built. It can describe the motion of macroscopic objects like projectiles, parts in any machinery, spacecraft etc. Thus knowledge of classical mechanics to an engineering student becomes mandatory </p>
</section>





        <section id="web-developments">


<h2 id="course-overview">Course Outcomes</h2>

<p>On completion of this course, the students will have the ability to: </p>

<ul>
<li> Students will attain the basic problem solving skills in problems related to Newtonian mechanics,  rotational dynamics, etc.</li>
<li>They would be able to apply the concepts of work and energy, linear and angular momentum in  their branch of engineering.
</li>
<li> The concepts related to vector fields, vector calculus, electric field, electrical potential function. potential energy, magnetic field magnetic potential function etc. </li>
<li> The four Maxwell’s equations </li>


</ul>
</section>

<section id="web-development">



<h2 id="course-outline">Course Outline</h2>

<section id="CH1">

<h3 id="class-1">CHAPTER-1: Co-Ordinate Systems</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

  <li><a href="/resources/Chapter1/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter1/videos">
    VIDEOS</a>
  </li>
  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/readings/MIT8_01F16_chapter3.pdf">Coordinate Systems MIT lecture notes</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-837-computer-graphics-fall-2012/lecture-notes/MIT6_837F12_Lec03.pdf">Coordinates and Transformations Wojciech Matusik slides</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=coordinate%20system">Other MIT references</a>.</li>


</ul>
</section>

<section id="CH2">

<h3 id="class-1">CHAPTER-2: Vectors and Kinematics</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

  <li><a href="/resources/Chapter2/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter2/videos">
    VIDEOS</a>
  </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-1-kinematics/1.1-coordinate-systems-and-unit-vectors-in-1d-position-vector-in-1d">Coordinate Systems and Unit Vectors in 1D Position Vector in 1D</a></li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-1-kinematics/1.2-position-vector-in-1d">Position Vector in 1D</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-1-kinematics/1.3-displacement-vector-in-1d">Displacement Vector in 1D</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-1-kinematics/1.7-worked-example-derivatives-in-kinematics"> Worked Example - Derivatives in Kinematics</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-1-kinematics/">Other videos and Lectures References</a>.</li>

</ul>
</section>
<section id="CH3">

<h3 id="class-1">CHAPTER-3:  Newtonian Mechanics
</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

  <li><a href="/resources/Chapter3/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter3/videos">
    VIDEOS</a>
  </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-012-physics-i-classical-mechanics-fall-2008/">Newtonian Mechanics-I</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-223-classical-mechanics-ii-january-iap-2017/">Newtonian Mechanics-II</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=newtonian%20mechanics">Other Videos and references</a>.</li>


</ul>
</section>
<section id="CH4">

<h3 id="class-1">CHAPTER-4: Momentum</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

  <li><a href="/resources/Chapter4/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter4/videos">
    VIDEOS</a>
  </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-5-momentum-and-impulse/">Momentum and Impulse
</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-5-momentum-and-impulse/15.4-momentum-of-a-system-of-point-particles">Momentum of a System of Point Particles</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-5-momentum-and-impulse/16.1-conservation-of-momentum">Conservation of Momentum</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=momentum">Other Videos and References</a>.</li>


</ul>
</section>
<section id="CH5">

<h3 id="class-1">CHAPTER-5: Work and Energy </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

  <li><a href="/resources/Chapter5/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter5/videos">
    VIDEOS</a>
  </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-07-dynamics-fall-2009/lecture-notes/MIT16_07F09_Lec12.pdf">Work and Energy</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-7-kinetic-energy-and-work/20.2-work-by-a-constant-force">Work by a Constant Force</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-7-kinetic-energy-and-work/20.3-work-by-a-non-constant-force">Work by a Non Constant Force</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-7-kinetic-energy-and-work/">Other videos and References</a>.</li>


</ul>
</section>
<section id="CH6">

<h3 id="class-1">CHAPTER-6: Collisions in Center-of-Mass Frame </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>


    <li><a href="/resources/Chapter6/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter6/videos">
      VIDEOS</a>
    </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-9-collision-theory/dd.2.1-position-in-the-cm-frame">Position in the CM Frame</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-9-collision-theory/dd.2.3-1d-elastic-collision-velocities-in-cm-frame">1D Elastic Collision Velocities in CM Frame</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-9-collision-theory/dd.2.6-kinetic-energy-in-the-cm-frame">Kinetic Energy in the CM Frame</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-9-collision-theory/">Other videos and references</a>.</li>


</ul>
</section>
<section id="CH7">

<h3 id="class-1">CHAPTER-7: Angular Momentum </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>


    <li><a href="/resources/Chapter7/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter7/videos">
      VIDEOS</a>
    </li>


      <li>OTHER REFERNCES
      </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-11-angular-momentum/"> Angular Momentum</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-11-angular-momentum/32.1-angular-momentum-for-a-point-particle">Angular Momentum for a Point Particle</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-11-angular-momentum/33.2-angular-momentum-of-a-symmetric-object">Angular Momentum of a Symmetric Object</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-11-angular-momentum/">Other Videos and References</a>.</li>


</ul>
</section>
<section id="CH8">

<h3 id="class-1">CHAPTER-8: Torque </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>

    <li><a href="/resources/Chapter8/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter8/videos">
      VIDEOS</a>
    </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-10-rotational-motion/30.1-introduction-to-torque-and-rotational-dynamics/"> Introduction to Torque and Rotational Dynamics</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/mechanical-engineering/2-003j-dynamics-and-control-i-fall-2007/video-lectures/lecture-9/">Dumbbell problem, multiple particle systems, rigid bodies, derivation of torque</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/mechanical-engineering/2-003sc-engineering-dynamics-fall-2011/angular-momentum-and-torque/">Angular Momentum and Torque</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=torque">Other Videos and References</a>.</li>


</ul>
</section>
<section id="CH9">

<h3 id="class-1">CHAPTER-9: Rigid Body Motion</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>



    <li><a href="/resources/Chapter9/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter9/videos">
      VIDEOS</a>
    </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-07-dynamics-fall-2009/lecture-notes/MIT16_07F09_Lec21.pdf">Rigid Body Dynamics</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-10-rotational-motion/28.1-rigid-bodies/">Rigid Bodies</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-09-classical-mechanics-iii-fall-2014/lecture-notes/MIT8_09F14_Chapter_2.pdf">lecture notes MIT</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=rigidbodydynamics">Other Videos and References</a>.</li>



</ul>
</section>
<section id="CH10">

<h3 id="class-1">CHAPTER-10: Central Force Motion </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>


    <li><a href="/resources/Chapter10/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter10/videos">
      VIDEOS</a>
    </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-07-dynamics-fall-2009/lecture-notes/MIT16_07F09_Lec15.pdf">Central Force Motion: Kepler’s Laws</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/aeronautics-and-astronautics/16-07-dynamics-fall-2009/lecture-notes/MIT16_07F09_Lec16.pdf">Central Force Motion: Orbits</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=centralforcemotion">Other Videos and References</a>.</li>



</ul>
</section>
<section id="CH11">

<h3 id="class-1">CHAPTER-11: Harmonic Oscillator</h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>



    <li><a href="/resources/Chapter11/notes">
      LECTURE NOTES</a>
    </li>

    <li><a href="/resources/Chapter11/videos">
      VIDEOS</a>
    </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/nuclear-engineering/22-51-quantum-theory-of-radiation-interactions-fall-2012/lecture-notes/MIT22_51F12_Ch9.pdf"> Harmonic Oscillator</a>.</li>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-04-quantum-physics-i-spring-2016/video-lectures/part-2/harmonic-oscillator-differential-equation/">Harmonic oscillator: Differential equation</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=harmonicoscillator">Other References and Videos</a>.</li>



</ul>
</section>
<section id="CH12">

<h3 id="class-1">CHAPTER-12: Non-Inertial Frame of Reference </h3>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" data-tweet-id="291978260433219584" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"></twitterwidget>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<ol>


  <li><a href="/resources/Chapter12/notes">
    LECTURE NOTES</a>
  </li>

  <li><a href="/resources/Chapter12/videos">
    VIDEOS</a>
  </li>

  <li>OTHER REFERNCES
  </li>

</ol>



<ul>
  <li> <a href="https://ocw.mit.edu/courses/physics/8-01sc-classical-mechanics-fall-2016/week-2-newtons-laws/4.4-non-inertial-reference-frames/">Non-inertial Reference Frames</a>.</li>
  <li> <a href="https://ocw.mit.edu/resources/res-tll-004-stem-concept-videos-fall-2013/videos/representations/rotating-frames-of-reference/">Rotating Frames of Reference</a>.</li>
  <li> <a href="https://ocw.mit.edu/search/ocwsearch.htm?q=noninertialframeofreference ">Other Videos and References</a>.</li>



</ul>
</section>

<section id="experiments">

<h2>Experiments</h2>
<h3>Experiment-2:<a href="/experiments/exp2"> Accelaration due to Gravity by Bar Pendulum</a></h3>
<h3>Experiment-3:<a href="/experiments/exp3"> Helmholtz coil</a></h3>
<h3>Experiment-4:<a href="#">Measurement of band gap of semiconductor</a></h3>
<h3>Experiment-5:<a href="#"> Refractive index of glass with the help of a prism</a></h3>
<h3>Experiment-6:<a href="#"> Wavelength of sodium light by Newton’s rings</a></h3>
<h3>Experiment-7:<a href="#"> Gyroscope </a></h3>
<h3>Experiment-8:<a href="#"> Electromagnetic Induction</a></h3>
<h3>Experiment-9:<a href="#"> Mechanical Waves</a></h3>
<h3>Experiment-10:<a href="#"> Fraunhoffer Diffraction</a></h3>
<h3>Experiment-11:<a href="#">Diffraction Grating</a></h3>

</section>

<section id="courseg">

<h2 id="grading">Grading</h2>

<ul>
 Weightage: <li>Quizzes: 10</li>
 			<li>Midterm: 40</li>
 			<li>Final Examination: 50</li>

</ul>
</section>













    </div>

  </div>

</div>



<%- include('partials/footer') %>
<script>
	$('#nav').affix({
    offset: {
      top: $('#nav').offset().top,
      bottom: ($('footer').outerHeight(true) + $('.application').outerHeight(true)) + 40
    }
});

</script>





</body>
</html>
