<%- include('partials/header') %>

<title>Upload success</title>

<!-- Here you we will include other css and js files that are not to be used for every age -->

</head>
<body>

<%- include('partials/navbar') %>

<center>

	<h1 style="text-align:center;text-shadow: 2px 1px 1px black">Thanks For uploading file....</h1>



<br /><br /><br />
		<section style="text-decoration:none">---YOU CAN GO TO RESOURCES FOR VISITING YOUR UPLOADS---</section>
</center>
<%- include('partials/footer') %>
