<%- include('partials/header') %>

	<h1>Upload your file</h1>
	<form method="post" enctype="multipart/form-data" action="/upload">
		<input type="file" name="filename">
		<input type="submit" value="upload">
	</form>	




<%- include('partials/footer') %>


