body
{
	
		font-family: 'Varela Round', sans-serif;
		background-color: white;
	    color:black; 
	}

.container{
	font-family: helvetica neue, helvetica arial, sans-serif;
	font-size: 24px;
}

#button1{
	color:white;
	background-color: green;
}

#button{
	color:white;
	background-color: green;

}

