
	/*
   general styles
*/

	a:link {
  			color: red;
  			text-decoration: underline;
  		}




/*css of table of content*/

#web-development,
#mobile-development {
  padding-bottom: 0;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #c1e1ec;
}

.nav a {
  color: black;
  font-style: normal;
	text-decoration:none;
}


#nav a{
  color: black;
  font-style: italic;

}



.nav li a:hover,
.nav li a:focus {
  background: #86c5da;
}

.nav .active {
  font-weight: bold;
  background: #72bcd4;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}



.affix-top {
  position: relative;
}

.affix {
  top: 20px;
}

.affix,
.affix-bottom {
    width: 213px;
}

.affix-bottom {
  position: absolute;
}

footer {
  border-top: 1px solid #c1e1ec;
}
